@import '~antd/dist/antd.css';


.App {
  text-align: center;
}

.mouseHover:hover{
  cursor: pointer;
  color: white;
}

.ant-layout-header{
  padding: 0;
  height: auto;
  line-height: inherit;
}

.nav{
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  color: white;
}

.icon-nav{
  font-size: 30px;
}

.nav a{
  text-decoration: none;
  color: aqua;
}

.nav-profile-picture{
  height: 30px;
  border-radius: 50%;
}

.signup-envelop,
.login-envelop{
  margin-top: 1em;
  padding: 2em;
}

.cards-envelop,
.ant-collapse-content-box{
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.ant-card{
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1em;
}

.ant-card-meta{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ant-form{
  max-width: 400px;
  margin: auto !important;
}

.login-form-button {
  width: 100%;
}

.ant-input {
  text-align: center;
}

.ant-drawer-wrapper-body{
  background-color: #212121;
  color: #BDBDBD;
  
}

.ant-drawer-body a{
  text-decoration: none;
  color: #BDBDBD;
}

.ant-drawer-body{
  font-size: 1.2em;
}

#back-top-custom .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
  background-color: #CDDC39;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.employee.card{
  height: 300px;
}

.employee-details-envelope{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-image{
  width: 100%;
}

.details-card{
  width: 100%;
}

.details-card-text{
  padding: 5%;
  font-size: 1.3em;
  font-weight: 700;
}

.details-card-text-tag{
  font-size: smaller;
  font-weight: lighter;
}

.input-icon-color{
  color: rgba(0,0,0,.25)
}

.home-title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
  font-weight: 900;
  margin-top: 1em;
}

.load-more{
  text-align: 'center';
  margin-top: 1em;
  height: 32px;
  line-height: 32px;
}

@media only screen and (min-width: 600px) {
  .details-card{
    width: 50%;
  }

  .employee-details-envelope{
    flex-direction: row;
  }
}